%% Clojerl compilation

{clje_src_dirs, ["src/main/clojure"]}.
{clje_test_dirs, ["src/test/clojure"]}.

%% Dependencies

{ deps
, [ {clojerl,    {git, "https://github.com/clojerl/clojerl.git", {branch, "master"}}}
  , {test_check, {git, "https://github.com/clojerl/test.check",  {branch, "clojerl"}}}
  ]
}.

%% Plugins

{ plugins
, [{'rebar3_clojerl', {git, "https://github.com/clojerl/rebar3_clojerl", {tag, "0.6.5"}}}]
}.

%% Provider Hooks

{ provider_hooks
, [ {post, [{compile, {clojerl, compile}}]}
  ]
}.

%% Profiles

{ profiles,
  [ { dev
    , [ { deps
        , [{eflame, ".*", {git, "https://github.com/jfacorro/eflame", {branch, "various.improvements"}}}]
        }
      ]
    }
  ]
}.
